<form autocomplete="on">
    <div class="sheet-body flexrow">
        <section>
            <div class="comfyui_url">
                <h2>SERVER IP</h2>
                <div class="form-group">
                    <label>comfyui server IP</label>
                    <div class="form-fields">
                        <input name="comfyui_url" type="text"
                            value="{{comfyu_url}}" />

                    </div>
                    <p class="notes">IP adress of your local instance of ComfyUI</p>
                </div>
            </div>
            </div>
        </section>
    </div>

    <div class="sheet-footer">
        <button type="submit">
            <i class="far fa-save"></i>
            {{ localize "Submit"}}

        </button>
    </div>

</form>
