<form autocomplete="on">
    <div class="sheet-body flexrow">
        <section>
            <div class="server-ip">
                <h2>SERVER IP</h2>
                <div class="form-group">
                    <label>ComfyUI server IP</label>
                    <div class="form-fields">
                        <input name="comfy-IP" type="text" value="{{comfy-IP}}" />
                    </div>
                    <p class="notes">IP address of your local instance of ComfyUI for Stable Diffusion</p>
                </div>
            </div>
        </section>
    </div>
</form>
