<form>

    <textarea name="basePrompt" rows="10" cols="45">{{basePrompt}}</textarea>

    <footer>
        <button type="submit">
            <i class="fas fa-check"></i>
            send to chat
        </button>
    </footer>
</form>