<form autocomplete="off">
  <div class="form-group">
    <label>Source</label>
    <div class="form-fields">
      <select name="source">
        {{#select source}}
        <option value="stableHorde">Stable Horde</option>
        <option value="automatic1111">Stable Diffusion Web UI (AUTOMATIC1111)</option>
        {{/select}}
      </select>
    </div>
  </div>

  <button type="submit">
    <i class="fas fa-save"></i> Save
  </button>
</form>